/* Fiorella Perez */















/* Gutierrez Rafael */

#afr-toph{
  color:#999;
  background: #eaeaea;
  border-bottom: 1px solid #c3c4c9;
  height: 40px;
  width: 100%;

}	









/* Claudio */














/* Chipana Daniel */












/* Napan Lurita*/
