/* Fiorella Perez */
html, body, div
, h4{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
/* Gutierrez Rafael */
#afr-toph{
  color:#999;
  background: #eaeaea;
  border-bottom: 1px solid #c3c4c9;
  height: 40px;
  width: 100%;
}
ul{
  list-style:none;
  margin:0;
  padding:0;
}
/* Claudio */
label{
		display:inline-block;
		margin-right:3px;
	}
	.afr-btn{
		border:1px solid #999;
		width:110px;
		height:30px;
		margin-bottom:8px;
	}
	.afr-btn:hover{
		background:#CCC;
	}
	#ulfile{
		margin:8px 0 8px 8px;
	}
	#ulfile li{
		margin-bottom:8px;
	}
	#afr-footer{
		/*background:#9C99A0 url(../img/bg-f.png) repeat-x;
		position:absolute;
		bottom:0px;*/
		height:150px;
		width:100%;
		background:#2D3235;
		font-family:"Tahoma";
		font-size:12px;













/* Chipana Daniel */
#afr-ctextfooter{
	margin:auto;
	width:1000px;
	text-align:center;
	color:#FFF;
	display:table;
	height:80px;
	position:relative;

}

#afr-textf{
		position:absolute;
		color:#fff;
		text-align:left;
		top:40px;
	}









/* Napan Lurita*/
#afr-important{
		float:left;
		font-size:14px;
		background:#FEFDCF;
		padding:8px;
		color:#9F7920;
		border-bottom:3px #9F7920 solid;
		border-top:1px solid #9F7920;
		margin-bottom:8px;
		width:780px;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
	}
