/* Astohuaman*/
body .urgen{
 margin-top: -50px;
}
body .fecha{
 margin-top: -60px;
}
body .hoja{
 width: 50%;
 max-height: 20px;
/* Xiomara */











/* Oviedo */
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}
