/* Astohuaman*/
body .urgen{
 margin-top: -50px;
}
body .fecha{
 margin-top: -60px;
}
body .hoja{
 width: 50%;
 max-height: 20px;
/* Xiomara */
body .acciones{
	width: 100%;
	text-align: left;
	margin-left: 80px;
}
body .po{
	margin-left: 80px;
}
table , td, th{
	border: 1px solid #595959;
	border-collapse: collapse;
}
/* Oviedo */
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}
