/* SIAS*/











/* VASQUEZ */










/* VERA */












/* NAPAN */




















/* GUTIERREZ */



#afr-ulmenu li.item1 a{
  transition: background-color 0.5s ease;
  background-color:none;
}
#afr-ulmenu li.item1:hover a{
  background-color:#6b6b6d;
}

#afr-ulmenu li.item2 a{
  transition: background-color 0.5s ease;
  background-color:none;

}
#afr-ulmenu li.item2:hover a{
  background-color:#3474B4;
}


#afr-ulmenu li.item3 a{
  transition: background-color 0.5s ease;
  background-color:none;

}
#afr-ulmenu li.item3:hover a{
  background-color:#E0050B;
}

#afr-ulmenu li.item1{
  border-top:6px solid #6B6B6D;
  background:url(../img/item1.png) center top no-repeat;
}













/* OVIEDO */



















/* DHAMARIZ */






















/* FIORELLA PEREZ */
















/* CLAUDIO */


















/* CHIPANA */















/* KAREN */















/* AARON*/
















/* XIOMARA */



















/* ASTOHUAMAN */




















/* BARRERA */
